<form class="login-box mx-auto">
    <h5 class="my-2">Login with your credential</h5>
    <div class="md-form">
        <input #userName class="form-control" id="userName" mdbInput required type="text">
        <label class="" for="userName">User Name</label>
    </div>
    <div class="md-form">
        <input #pass class="form-control" id="password" mdbInput type="password">
        <label class="" for="password">Password</label>
    </div>

    <div (click)="handleLogin(userName, pass)" class="btn btn-primary">Login</div>
</form>

