<form class="login-box mx-auto">
    <h5 class="my-2">Register For New Account</h5>
    <div class="md-form">
        <input #userName class="form-control" id="userName" mdbInput required type="text">
        <label class="" for="userName">User Name</label>
    </div>
    <div class="md-form">
        <input #name class="form-control" id="name" mdbInput required type="text">
        <label class="" for="name">Name</label>
    </div>
    <div class="md-form">
        <input #phone class="form-control" id="phone" mdbInput required type="number">
        <label class="" for="phone">Phone</label>
    </div>
    <div class="md-form">
        <input #pass class="form-control" id="password" mdbInput type="password">
        <label class="" for="password">Password</label>
    </div>
    <div class="md-form">
        <select #userType class="form-control" id="userType" mdbInput>
            <option value="USER">User</option>
            <option value="ORGANIZATION">Organization</option>
            <option value="VOLUNTEER">Volunteer</option>
        </select>
    </div>

    <div (click)="handleRegister(userName, name, phone, pass, userType)" class="btn btn-primary">Register</div>
</form>
