<mdb-card class="info-card ">
    <mdb-card-body>

        <!--Title-->
        <div class="d-flex justify-content-center">
            <img alt="" class="card-image m-auto" src="{{ cardData.iconLink }}">
        </div>

        <div class="d-flex justify-content-center m-2">
            <h5>{{ cardData.title }}</h5>
        </div>

        <!--Text-->
        <!--    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's-->
        <!--      content.-->
        <!--    </mdb-card-text>-->
    </mdb-card-body>
</mdb-card>
