<mdb-card class="card-width">
    <!--Card image-->
    <div class="row">
        <div class="d-flex align-items-center col-6 col-md-4 image-div">
            <img alt="Card image cap" class="img-size img-thumbnail" src="{{ foodResponseModel.imageLink }}"/>
        </div>
        <mdb-card-body class="col-6 col-md-8">

            <div>
                <mdb-card-title>
                    <h5>{{ foodResponseModel.title }}</h5>
                </mdb-card-title>

                <mdb-card-title>
                    <h6>{{ foodResponseModel.phoneNo }}</h6>
                </mdb-card-title>
                <!--Text-->
                <mdb-card-text>
                    {{ foodResponseModel.address }}
                </mdb-card-text>
            </div>
            <!--            <div class="d-flex justify-content-end">-->
            <!--                <h6 class="mb-0">  {{ getDate(foodResponseModel.createdOn) }}</h6>-->
            <!--            </div>-->
            <div class="d-flex justify-content-between">
                <div>
                    <mdb-card-text>
                        {{ getDate(foodResponseModel.createdOn) }}
                    </mdb-card-text>
                </div>
                <div *ngIf="isAdmin">
                    <button (click)="approveRequest(foodResponseModel.id)" class="btn-sm" color="success" mdbBtn>Approve</button>

                    <button (click)="rejectRequest(foodResponseModel.id)" class="btn-sm" color="danger" mdbBtn>Reject</button>
                </div>
                <div *ngIf="!foodResponseModel.isConfirmed">
                    <button (click)="confirmRequest(foodResponseModel.id)" class="btn-sm " color="secondary" mdbBtn>Confirm
                    </button>
                </div>
            </div>
        </mdb-card-body>

    </div>

</mdb-card>
